<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycorner.suikocartography"
    android:installLocation="auto">

    <!-- Required to utilize hardware touchscreen multitouch features. -->
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="true" />

    <!-- Indicates full support for tablets. Needed to avoid the "Designed for Phones" tag in the Google Play Store. -->
    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:alwaysRetainTaskState="true" >

        <activity
            android:name=".SCMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SCMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.ycorner.suikocartography.WORLDVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
